:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
  color: var(--title-text-color);
}

.logo__accent {
  color: var(--accent-color);
}

.links-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.links-icons:hover, .links-icons:focus {
  background-color: var(--accent-color);
}
.links-icons:hover > .team-icon, .links-icons:focus > .team-icon {
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 1000ms cubic-bezier(0.4, 0, 0.2, 1), visibility 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
}

.close-button {
  position: absolute;
  padding: 0px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
}
.close-button:hover, .close-button:focus {
  fill: var(--accent-color);
}

.modal-form-div {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 528px;
  height: 581px;
}

.modal-form-head {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 12px;
}

.modal-form-field {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
  margin-bottom: 10px;
}

.message {
  margin-bottom: 0;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 6px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  background-color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 10px;
  border: 2px solid var(--title-text-color);
}
.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  border-color: var(--accent-color);
}
.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url("../images/icon/check-1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: 0.2px solid var(--white-color);
  background-origin: border-box;
  fill: var(--white-color);
}

.modal-form-checkbox:hover::before,
.modal-form-checkbox:focus::before {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.modal-form-btn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background: #188ce8;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  color: var(--title-text-color);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-form-label-link {
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  margin: 0px;
  font-family: var(--main-font);
  font-weight: 400;
  color: var(--main-text-color);
}

.section {
  padding: 94px 0px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.contakt__icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
}
.contakt__icon:hover, .contakt__icon:focus {
  color: var(--accent-color);
}

.header {
  padding: 24px 0px;
  border-bottom: 1px solid #ececec;
}

.header_container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  align-items: center;
}

.contakt {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__logo {
  margin-right: 92px;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  padding: 32px 0px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}
.menu__link.current {
  position: relative;
}
.menu__link.current::after {
  position: absolute;
  bottom: 1px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  margin: 0 auto;
  overflow: hidden;
}

.menu .link.current {
  color: var(--accent-color);
}

.contakt__office-link {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakt__office-link:hover, .contakt__office-link:focus {
  color: var(--accent-color);
}

.contakt__tel-link {
  display: flex;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakt__tel-link:hover, .contakt__tel-link:focus {
  color: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px;
  background-color: #c4c4c4;
}

.hero_main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__button.service {
  padding: 10px 32px;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button.service:hover, .hero__button.service:focus {
  color: #212121;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.nav-button {
  border: none;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  color: var(--title-text-color);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-button:hover, .nav-button:focus {
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  margin-bottom: 50px;
}

.list-item:not(:last-child) {
  margin-right: 8px;
}

.list .nav-button.current {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--white-color);
  overflow: auto;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transform: translateY(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-main-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.products-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  background: var(--white-color);
}

.products-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-link:hover, .products-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.products-link:hover .overlay, .products-link:hover .overlay, .products-link:focus .overlay, .products-link:focus .overlay {
  transform: translateY(0%);
}

.border-cards {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.section-title-portfolio {
  color: #212121;
  width: 322px;
  height: 36px;
}

.description-portfolio {
  margin-top: 4px;
  width: 322px;
  height: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.container-icon {
  margin-bottom: 30px;
}

.list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.item-icon:not(:last-child) {
  margin-right: 30px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.description {
  width: 270px;
  margin-top: 10px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.section-work {
  padding-top: 0px;
}

.work {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: -30px;
  margin-top: -30px;
}

.work-item {
  position: relative;
  margin-left: 30px;
  margin-top: 30px;
}

.work-text {
  position: absolute;
  bottom: 0;
  padding-left: auto;
  padding-right: auto;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 370px;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.container-team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}

.team-list-icon {
  display: flex;
  align-items: center;
}

.team-item-icon:not(:last-child) {
  margin-right: 10px;
}

.team-icon {
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.section-team {
  background-color: #f5f4fa;
}

.team {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
  width: 270px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.name {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.activity {
  padding-top: 10px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.name-activity {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-customers {
  padding: 94px 0px;
}

.list-customers {
  display: flex;
  align-items: center;
}

.customers-item:not(:last-child) {
  margin-right: 30px;
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-link:hover, .customers-link:focus {
  border: 1px solid var(--accent-color);
}
.customers-link:hover > .customers-icon, .customers-link:hover > .customers-icon, .customers-link:focus > .customers-icon, .customers-link:focus > .customers-icon {
  fill: var(--accent-color);
}

.customers-icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 0px;
  background-color: #2f303a;
}

.container-footer {
  display: flex;
  flex-direction: column;
}

.footer-conteiner {
  display: flex;
}

a .footer-contakt__list {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

a.footer-contakt__link {
  width: 231px;
  height: 21px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
a.footer-contakt__link:focus, a.footer-contakt__link:hover {
  color: var(--accent-color);
}

.footer__logo {
  display: block;
  color: var(--white-color);
  margin-bottom: 20px;
  padding: 0px;
}

.footer-contakt__link-address {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contakt__link-address:focus, .footer-contakt__link-address:hover {
  color: var(--accent-color);
}

.footer-contakt__item {
  margin-bottom: 9px;
}

.footer-icons__title {
  padding-top: 12px;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-icons {
  margin-left: 70px;
}

.footer-icons__item:not(:last-child) {
  margin-right: 10px;
}

.footer-icons_link-icon {
  fill: var(--white-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-icons__list {
  display: flex;
}

.footer-div {
  margin-left: auto;
}

.form-subscribe {
  padding-top: 12px;
  margin-bottom: 20px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
}

.footer-form-input {
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: var(--white-color);
}

.footer-subscribe-div {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.footer-form-button {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-form-button:hover, .footer-form-button:focus {
  color: var(--title-text-color);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.footer-form-button:hover > .footer-button-icon, .footer-form-button:hover > .footer-button-icon, .footer-form-button:focus > .footer-button-icon, .footer-form-button:focus > .footer-button-icon {
  fill: var(--title-text-color);
}

.footer-button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--white-color);
}/*# sourceMappingURL=main.css.map */