.container-icon {
  margin-bottom: 30px;
}

.list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.item-icon:not(:last-child) {
  margin-right: 30px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.description {
  width: 270px;
  margin-top: 10px;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
