.container-icon {
  margin-bottom: 30px;
}
.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}
.section-title {
  text-align: center;
  margin-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.description {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
@media screen and (min-width: 480px) {
  .features-container {
    justify-content: center;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .features-container {
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .features {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .features-item {
    width: 354px;
  }
  .features-item:nth-child(2n + 1) {
    margin-right: 30px;
  }

  .description {
    height: 75px;
  }
}

@media screen and (min-width: 1200px) {
  .features-container {
    max-width: 1200px;
  }
  .container-icon {
    margin-bottom: 30px;
  }
  .link-icon {
    width: 270px;
    height: 120px;
  }

  .features-item:not(:last-child) {
    margin-right: 30px;
  }

  .features {
    flex-wrap: nowrap;
  }
  .features-item {
    width: 270px;
  }

  .section-title {
    text-align: left;
  }
  .description {
    width: 270px;
    margin-top: 10px;
  }
}
