.hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px;
  background-color: #c4c4c4;
}

.hero_main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero__title {
  width: 696px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero__button.service {
  padding: 10px 32px;
  align-items: center;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  cursor: pointer;
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: #212121;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.nav-button {
  border: none;
  padding: 6px 22px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  color: var(--title-text-color);
  transition: color, background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--white-color);
    background: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-list {
  display: flex;
  align-items: center;
  justify-content: center;
  border: transparent;
  margin-bottom: 50px;
}
.list-item:not(:last-child) {
  margin-right: 8px;
}

.list .nav-button.current {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.hero-portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  color: var(--white-color);
  overflow: auto;
  padding: 63px 24px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
  transform: translateY(200%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section-main-title {
  margin-bottom: 50px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.products {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.products-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  width: 370px;
  background: var(--white-color);
}

.products-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    & .overlay,
    & .overlay {
      transform: translateY(0%);
    }
  }
}

.border-cards {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}
.section-title-portfolio {
  color: #212121;
  width: 322px;
  height: 36px;
}
.description-portfolio {
  margin-top: 4px;
  width: 322px;
  height: 30px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
