.team {
  display: block;

  @media screen and (min-width: 768px) {
    display: flex;

    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.team-item {
  margin-left: 30px;
  margin-top: 30px;
  // width: 100%;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 30px));

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
  }
}
.team-item {
  @media screen and (max-width: 768px) {
    margin-left: 0px;
  }
}

.container-team-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
  padding-bottom: 24px;
}

.team-list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.team-item-icon:not(:last-child) {
  margin-right: 10px;
}

.team-icon {
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
}

.section-team {
  background-color: #f5f4fa;
}

.name {
  padding-bottom: 10px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.name-activity {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 16px;
}
.activity {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
