.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 450px;
  max-height: 609px;
  background-color: var(--white-color);
  transform: translate(-50%, -50%);
  @media screen and (min-widht: 1200px) {
    max-width: 528px;
    max-height: 581px;
  }
}

.close-button {
  position: absolute;
  padding: 0px;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  cursor: pointer;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
